body {
  background-color: lightgray;
}
.heliana {
	color: darkblue;
	font-family:comic;
	text-align: center;
	font-size: 50px
}
.resaltar{
	color: blue;
	font-family:comic;
	text-align: center;
	font-size: 28px	
}
h1 {
  color: gray;
  text-align: center;
  font-family: Georgia, “Times New Roman”serif;
}

p {
  font-family: verdana;
  font-size: 15px;
  border-style: ridge;
}